<div class="row project-overview">

	<% var projects = ownProjects %>
	<% include partials/projectOverview.ejs %>
</div>

<div class="row project-overview">
	<% projects = managedProjects %>
	<% include partials/projectOverview.ejs %>
</div>

<a data-open="new-project" id="add-project" class="button success material-add-button"><i class="fi-plus"></i></a>

<div class="reveal" id="new-project" data-reveal>

	<% include forms/newForm.ejs %>

	<!-- Close button -->
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>