<h3>Add project</h3>

<form action="/project/create" method="post">
	<label>
		Name

		<input type="text" placeholder="Project name" name="name" />
	</label>

	<!--<label>-->
		<!--API endpoint-->

		<!--<input type="text" placeholder="https://api.example.com/api/v1" />-->
	<!--</label>-->


	<label>
		Description

		<textarea rows="2" name="description" placeholder="Some brief description of this API"></textarea>
	</label>

	<button type="submit" class="button success float-right">Create new</button>
</form>