<div class="row">
	<div class="column">
		<h3>Login</h3>

		<% include user/forms/loginForm.ejs %>
	</div>

	<div class="column">
		<h3>New user</h3>
		<% include user/forms/registrationForm.ejs %>
	</div>
</div>