<!DOCTYPE html>
<html ng-app="restApiTester">
<head>
	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>REST API testing tool</title>
	<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet'
	      type='text/css'>

	<!--STYLES-->
	<link rel="stylesheet" href="/styles/vendor/foundation/foundation-flex.css">
	<link rel="stylesheet" href="/styles/vendor/foundation/foundation-datepicker.min.css">
	<link rel="stylesheet" href="/styles/app.css">
	<!--STYLES END-->
</head>

<body ng-controller="ProjectsController as projects" ng-init="projects.initOverview()">
<div class="column no-padding" data-sticky-container>
	<header class="sticky" data-sticky data-options="marginTop:0;" style="width:100%">
		<nav id="main-menu" class="row title-bar">
			<div class="column">
				<ul class="menu">
					<li class="menu-text">
						<ul class="breadcrumbs">
							<li ng-show="!hideProjectInBreadcrumbs"><a ui-sref="projects">{{"Projekty" | translate}}</a></li>
							<li ng-show="currentProject.id"><a ui-sref="dashboard({projectId: currentProject.id})">{{currentProject.name}}</a>
							</li>
							<li ng-show="currentEnvironment.id"><a ui-sref="tests({environmentId: currentEnvironment.id})">{{currentEnvironment.name}}</a>
							</li>
							<li ng-repeat="breadcrumb in breadcrumbs"><a ng-href="{{breadcrumb.href}}">{{breadcrumb.label}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="column shrink user-profile align-center">
				<a ui-sref="user">
					<img gravatar-src="identity.email" gravatar-size="35" alt="profile" />
				</a>
			</div>
			<div class="column notifications cursor-pointer">
				<div ng-repeat="notification in globalNotifications" class="notification text-right"
				     ng-class="notification.type" ng-click="hideNotification($index)">

					<small>
						{{notification.time | date : format : 'short' }}
					</small>

					<p class="text-left">
						{{notification.content}}
					</p>
				</div>
			</div>
		</nav>
	</header>
</div>

<div class="row ui-view-container" id="content" ng-controller="LoggedUserController as loggedUser">

	<aside class="column no-padding large-2" id="side-menu" ng-show="identity.email">
		<div class="row">
			<ul class="menu dropdown vertical" data-dropdown-menu>
				<li><a href="javascript:void(0)" class="button primary">{{currentProject.name || "Vyberte projekt" |
				                                                        translate}}</a>
					<ul class="menu">
						<li ng-repeat="project in projects.overview"
						    ng-class="currentProject.id == project.id ? 'active' : ''">
							<a href="javascript:void(0)" ng-click="selectProject(project)">{{project.name}}</a>
						</li>
					</ul>
				</li>
				<li ng-repeat="environment in availableEnvironments"
				    ng-class="currentEnvironment.id == environment.id ? 'active' : ''">
					<a href="javascript:void(0)" ng-click="selectEnvironment(environment, {redirectToTests: true})">{{environment.name}}</a>
				</li>
				<li class="separator"></li>
				<li class="text-center" ng-show="currentEnvironment.apiEndpoint">{{currentEnvironment.apiEndpoint}}</li>
				<li class="separator"></li>
				<li ng-show="currentEnvironment.id && identity.roles[currentEnvironment.id] != 'host'">
					<a href="javascript:void(0)"
					   ng-click="runEnvironmentTests(currentEnvironmentId)" class="button success">
						<i class="fi-play"> {{"Spustit všechny testy" | translate}}</i>
					</a>
				</li>
				<li class="separator"></li>
			</ul>
		</div>

		<ul class="test-results menu vertical" ng-controller="TestsResultsController as tests">
			<!--loading img from http://www.ajaxload.info/-->
			<li ng-show="testAddedOrInProgress" class="text-center"><img src="images/loading.gif" alt="loading..." /></li>
			<li ng-if="tests.lastTestsAge" ng-show="emptyObject(testList)" class="text-center">
				<em>{{"Žádné testy" | translate:'{hours: '+tests.lastTestsAge+'}'}}</em>
			</li>

			<li ng-show="!emptyObject(testList)" ng-repeat="result in testList">
				<a ui-sref="test_result({testResultId: result.id})" ng-switch="result.status">
					<span ng-switch-when="success" class="badge success fi-check"></span>
					<span ng-switch-when="failed" class="badge alert fi-x"></span>
					<span ng-switch-when="waiting_for_response" class="badge primary fi-clock"></span>
					<span ng-switch-when="evaluating" class="badge warning fi-eye"></span>

					&nbsp;

					{{result.testName}}
				</a>
			</li>
		</ul>
	</aside>

	<%- body %>
</div>


<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/dependencies/angular/angular.min.js"></script>
<script src="/js/dependencies/angular/angular-ui-router.min.js"></script>
<script src="/js/dependencies/angular/angular-translate.min.js"></script>
<script src="/js/dependencies/angular/angular-animate.min.js"></script>
<script src="/js/dependencies/angular/angular-gravatar.min.js"></script>
<script src="/js/dependencies/angular/angular-sanitize.min.js"></script>
<script src="/js/dependencies/angular/angular-translate-loader-static-files.min.js"></script>
<script src="/js/dependencies/foundation/foundation.js"></script>
<script src="/js/dependencies/foundation/vendor/foundation-datepicker.min.js"></script>
<script src="/js/dependencies/foundation/vendor/what-input.min.js"></script>
<script src="/js/dependencies/underscore-min.js"></script>
<script src="/js/rest-api-tester/_init.js"></script>
<script src="/js/rest-api-tester/services/assertions-service.js"></script>
<script src="/js/rest-api-tester/services/authentications-service.js"></script>
<script src="/js/rest-api-tester/services/environments-service.js"></script>
<script src="/js/rest-api-tester/services/headers-service.js"></script>
<script src="/js/rest-api-tester/services/http-parameters-service.js"></script>
<script src="/js/rest-api-tester/services/login-service.js"></script>
<script src="/js/rest-api-tester/services/notifications-service.js"></script>
<script src="/js/rest-api-tester/services/projects-service.js"></script>
<script src="/js/rest-api-tester/services/registration-service.js"></script>
<script src="/js/rest-api-tester/services/requests-service.js"></script>
<script src="/js/rest-api-tester/services/tests-results-service.js"></script>
<script src="/js/rest-api-tester/services/tests-service.js"></script>
<script src="/js/rest-api-tester/services/users-service.js"></script>
<script src="/js/rest-api-tester/services/versions-service.js"></script>
<script src="/js/app.js"></script>
<script src="/js/rest-api-tester/controllers/assertions-controller.js"></script>
<script src="/js/rest-api-tester/controllers/authentications-controller.js"></script>
<script src="/js/rest-api-tester/controllers/environments-controller.js"></script>
<script src="/js/rest-api-tester/controllers/headers-controller.js"></script>
<script src="/js/rest-api-tester/controllers/logged-user-controller.js"></script>
<script src="/js/rest-api-tester/controllers/login-controller.js"></script>
<script src="/js/rest-api-tester/controllers/projects-controller.js"></script>
<script src="/js/rest-api-tester/controllers/registration-controller.js"></script>
<script src="/js/rest-api-tester/controllers/requests-controller.js"></script>
<script src="/js/rest-api-tester/controllers/tests-controller.js"></script>
<script src="/js/rest-api-tester/controllers/tests-results-controller.js"></script>
<script src="/js/rest-api-tester/controllers/users-controller.js"></script>
<script src="/js/rest-api-tester/controllers/versions-controller.js"></script>
<!--SCRIPTS END-->


</body>
</html>
