<form action="/api/v1/login" method="post">
	<label>
		E-mail
		<input type="email" name="email" />
	</label>

	<label>
		Password

		<input type="password" name="password" />
	</label>

	<button type="submit" class="submit button">Login</button>
</form>