<form action="/registration" method="post">
	<label>
		E-mail
		<input type="email" name="email" />
	</label>

	<label>
		Username

		<input type="text" name="username" />
	</label>

	<button type="submit" class="submit button">Create new account</button>
</form>