<form action="/api/v1/registration" method="post">
	<label>
		E-mail
		<input type="email" name="email" />
	</label>

	<label>
		Name

		<input type="text" name="name" />
	</label>

	<button type="submit" class="submit button">Create new account</button>
</form>