html {
	min-width: 420px;
}

.no-js {
	display: none;
}
.row {
	max-width: 100% !important;
}

.row .row {
	margin: auto;
}

.accordion-title {
	padding: .5rem;
}

.callout {
	position: static;
}

.notifications {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 85%;
}

.menu .environment {
	font-size: 90%;
	font-style: italic;
}

.dropdown.menu.vertical > li.opens-right > a::after {
	border-color:transparent transparent transparent white;
}

.notifications .notification {
	width: 100%;
	padding: .25rem 1rem;
	border-radius: 3px;
	font-weight: bold;
	color: white;
	margin-top: .5rem;
	opacity: 0.8;
	box-shadow: #333 0 0 10px 0;
	transition: opacity .5s
}

.notifications .notification:hover {
	opacity: 1;
	cursor: pointer;
	transition: opacity .5s
}

.notifications .notification.alert {
	background: #ec5840;
}

.notifications .notification.success {
	background: #3adb76;
}

.accordion-content, .accordion, .tabs, .tabs-content {
	padding: 1rem 0 0;
	border: none;
	background: none;
}

#main-menu .title-bar-right .menu {
	justify-content: flex-end;
}

#side-menu .user-profile a {
	line-height: 40px;
}

.statistics .column {
	min-width: 8em;
}

.tests-overview .test {
	min-width: 15em;
}


.menu-toggler {
	margin: 0;
}

#loaded-view {
	padding-left: 0;
}

.tabs-title {
	font-weight: bold;
}

.empty {
	font-style: italic;
	font-size: 75%;
	font-weight: normal;
}

.dashboard .environment {
	min-width: 20em;
	max-width: 35em;
}

.project .environments .label {
	font-size: 70% !important;
}

table .button {
	margin: 0;
}

.label a {
	color: white;
}

.has-controls .controls {
	margin-top: 1em;
	padding-top: .75em;
	border-top: solid 1px #CCC;
}

.has-controls .controls .button, .has-controls .controls p {
	margin: 0;
}

.project-overview .project {
	min-width: 23em;
}

.curson-pointer {
	cursor: pointer;
}

.dashboard .tests {
	padding-bottom: .3em;
	display: block;
	white-space: nowrap;
	overflow: auto;
}

.dashboard .small {
	color: #CCC;
	font-size: 75%;
}

.dashboard .failed-tests {
	font-size: 75%;
	max-height: 10em;
	overflow: auto;
}

.dashboard .failed-tests .test {
	min-width: 8em;
}

.material-add-button {
	position: fixed;
	bottom: 1em;
	right: 1em;
	border-radius: 100%;
	font-size: 2em;
	padding: .3em .5em;
	box-shadow: 3px 5px 10px #555;
}

.breadcrumbs {
	margin: auto;
	font-size: 120%;
}

.breadcrumbs a, .breadcrumbs li:not(:last-child)::after {
	color: black;
	font-weight: bold;
}

.with-shadow {
	margin: 1em 0 0 1em;
	padding: 1em;
	box-shadow: 0 0 10px #DDD;
	background: #FAFAFA;
	border-radius: 3px;
}

.with-shadow .with-shadow {
	margin: 0;
	padding: 0;
	background: transparent;
	box-shadow: none;
}

.no-padding {
	padding: 0;
}

li.separator {
	width: 3em;
}

.vertical li.separator {
	height: 1em;
}

li.separator.line {
	border-bottom: 1px solid #ddd;
	margin: 1em 0;
	height: 0;
}

.user-profile:hover {
	text-decoration: underline;
}

.user-profile img {
	border: solid 1px;
	border-radius: 50%;
	margin: 0 .3em;
}

.test-results {
	max-height: 35em;
	overflow: auto;
}

code {
	display: block;
	word-break: break-all;
	max-height: 35em;
	overflow: scroll;
}

.dropdown li.is-submenu-item:hover {
	background: #EEE;
	transition: background 0.4s;
}

.dropdown li button i {
	font-size: 150%;
}

.title-bar {
	background: #EEE;
}

.title-bar, .title-bar a {
	color: black;
}

#content {
	height: 100%;
}

#content .header-spacer {
	margin-top: 3.7em;
}

footer {
	background: #3C3C3C;
}

.required {
	font-weight: bold;
}

.inline {
	display: inline;
}

.menu .project {
	font-weight: bold;
}

.ng-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

.ng-modal .reveal-modal-overlay {
	background: black;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.ng-modal .reveal-modal {
	width: 40%;
	background: white;
	padding: 1.25rem;
	position: absolute;
	top: 5%;
	left: 30%;
	border-radius: 3px;
	border: solid 1px silver;
}

.ng-modal.large .reveal-modal {
	width: 75%;
	left: 12.5%;
}

.ng-enter {
	transition: .5s;
	opacity: 0;
}

.ng-enter-active {
	transition: .5s;
	opacity: 1;
}

@media screen and (max-width: 1300px) {
	.ng-modal .reveal-modal {
		width: 75%;
		left: 12.5%;
	}
	.ng-modal.large .reveal-modal {
		width: 95%;
		left: 2.5%;
	}
}

@media screen and (max-width: 500px) {
	.ng-modal.reveal-modal {
		width: 95%;
		left: 2.5%;
	}
}