<div class="row content align-center dashboard" ng-controller="EnvironmentsController as environments"
	  ng-init="environments.initOverview(); " data-equalizer>
	<div class="environment column no-padding " ng-repeat="environment in environments.overview">
		<div class="with-shadow has-controls">
			<div class="content-holder" data-equalizer-watch>
				<h4 class="text-center">{{environment.name}}</h4>

				<div class="row tests text-center">
					<a ng-repeat="result in dashboardTests | filter: {environmentsId: environment.id} | orderBy:'updatedAt'"
						ui-sref="test_result({testResultId: result.id})"
						title="{{result.testName}}, {{result.updatedAt | date : 'short'}}" ng-switch="result.status">

						<span ng-switch-when="success" class="badge success fi-check"></span>
						<span ng-switch-when="failed" class="badge alert fi-x"></span>
						<span ng-switch-when="waiting_for_response" class="badge primary fi-clock"></span>
						<span ng-switch-default="evaluating" class="badge warning fi-eye"></span>
					</a>
				</div>

				<div class="row small">
					<div class="column">
						<i class="fi-arrow-left"></i>
						{{"Starší" | translate}}
					</div>
					<div class="column text-right">
						{{"Novější" | translate}}
						<i class="fi-arrow-right"></i>
					</div>
				</div>

				<div ng-show="failedDasboardTests[environment.id].length>0">
					<h5>{{"Poslední selhané testy" | translate}}</h5>
					<div class="failed-tests">
						<div class="row align-center">

							<div class="column text-center test" ng-repeat="result in failedDasboardTests[environment.id]">
								<a ui-sref="test_result({testResultId: result.id})"><i class="fi-x badge alert"></i><br />
									{{result.testName}}</a>
								<br />
								<small>{{result.updatedAt | date : 'short'}}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row controls align-right">
				<a ui-sref="tests({environmentId: environment.id})" class="primary button tiny"><i class="fi-list"></i>
					{{"Všechny testy" | translate}}</a>

				&nbsp;

				<a ui-sref="environment_settings({environmentId: environment.id})"
					ng-if="identity.roles[environment.id] == 'manager'"
					class="warning button tiny">
					<i class="fi-wrench"></i> {{"Nastavení prostředí" | translate}}</a>
			</div>
		</div>

		<script ng-if="$last && $index > 0">
			$ (function () {
				setTimeout (function () {
					Foundation.reInit ('equalizer');
				}, 500)
			});
		</script>
	</div>


	<a id="add-project" ng-if="currentProject.usersId == identity.id" ng-click="environments.manageEnvironments = true" class="button success material-add-button"><i
			  class="fi-plus"></i></a>

	<modal show="environments.manageEnvironments && currentProject.usersId == identity.id">

		<h3>{{"Nové prostředí" | translate}}</h3>

		<form ng-submit="environments.create()">
			<label class="required">
				{{"Jméno" | translate}}

				<input type="text" required placeholder="{{'Jméno' | translate}}" ng-model="environments.formData.name" />
			</label>

			<label class="required">
				{{"Adresa API serveru" | translate}}

				<input required type="url" placeholder="https://api.example.com/api/v1"
						 ng-model="environments.formData.apiEndpoint" />
			</label>


			<label>
				{{"Popis" | translate}}

			<textarea rows="2" name="description" ng-model="environments.formData.description"
						 placeholder="{{'Stručný popis prostředí pro lepší přehlednost a orientaci v systému' | translate}}"></textarea>
			</label>

			<button type="submit" class="button success float-right">{{"Vytvořit" | translate}}</button>
		</form>
	</modal>
</div>
