<div class="content">
	<div class="project-overview row" data-equalizer>
		<div class="column no-padding" ng-repeat="project in projects">

			<div class="with-shadow project text-center has-controls">
				<div class="content" data-equalizer-watch>
					<h3><a ui-sref="dashboard({projectId: project.id})">{{project.name}}</a></h3>

					<p class="description">
						{{project.description}}
					</p>

					<p class="column environments">
						<span ng-repeat="environment in project.environments">
							<a class="label curson-pointer"
								ui-sref="tests({environmentId: environment.id})">{{environment.name}}</a>
						</span>
						<span ng-show="!project.environments.length" class="label secondary">No environments</span>
					</p>
				</div>

				<div class="row align-center controls">
					<a ui-sref="dashboard({projectId: project.id})" class="button primary">
						<i class="fi-graph-trend"></i>
						Dashboard
					</a>
					&nbsp;
					<a ui-sref="projects_settings({projectId: project.id})" class="button warning">
						<i class="fi-wrench"></i>
						Settings
					</a>
				</div>

			</div>
		</div>

		<div ng-show="!projects.length" class="callout warning">nenalezeno</div>
		<script>$ (document).foundation ()</script>
	</div>

	<a data-open="new-project" id="add-project" class="button success material-add-button"><i class="fi-plus"></i></a>

	<div class="reveal" id="new-project" data-reveal>

		<h3>Add project</h3>

		<form ng-submit="controller.create()">
			<label>
				Name

				<input type="text" placeholder="Project name" ng-model="formData.name" />
			</label>

			<label>
				Description

			<textarea rows="2" name="description" ng-model="formData.description"
						 placeholder="Some brief description of this API"></textarea>
			</label>

			<button type="submit" class="button success float-right">Create new</button>
		</form>

		<!-- Close button -->
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

</div>