<div class="row content">
	<div class="column with-shadow" ng-controller="ProjectsController as project" id="project-edit"
		  ng-init="project.loadDetail()">

		<h3>Project settings</h3>


		<ul class="tabs" id="project-settings">
			<li id="basic-info-title" class="tabs-title is-active">
				<a href="javascript:void(0)"
					ng-click="openTab('#project-edit', '#basic-info')"
					aria-selected="true">Basic info
				</a>
			</li>
			<li id="environments-title" class="tabs-title">
				<a href="javascript:void(0)"
					ng-click="openTab('#project-edit', '#environments')">
					Environments
				</a>
			</li>
			<li id="headers-title" class="tabs-title">
				<a href="javascript:void(0)"
					ng-click="openTab('#project-edit', '#headers')">
					Headers
				</a>
			</li>
		</ul>

		<div class="tabs-content">
			<div class="tabs-panel is-active" id="basic-info">
				<form ng-submit="project.edit()" ng-if="project.detail.id" ng-init="project.formData = project.detail">
					<label class="required">
						Project name

						<input type="text" ng-blur="project.edit()" required ng-model="project.formData.name" />
					</label>

					<label>
						Project description

						<textarea rows="3" ng-blur="project.edit()" ng-model="project.formData.description"></textarea>
					</label>
				</form>
			</div>

			<div class="tabs-panel" id="environments" ng-controller="EnvironmentsController as environments"
					 ng-init="environments.initOverview();">
				<table>
					<thead>
					<tr>
						<th>Environment name</th>
						<th>Description</th>
						<th>API endpoint</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="environment in environments.overview">
						<td>{{environment.name}}</td>
						<td>{{environment.description}}</td>
						<td>{{environment.apiEndpoint}}</td>
						<td class="text-right">
							<a ui-sref="environment_settings({environmentId: environment.id})" class="button tiny warning">
								<i class="fi-wrench"></i>
								Environment settings
							</a>
							<a href="javascript:void(0)" class="button tiny alert"
								ng-click="environments.delete(environment.id)">
								<i class="fi-x"></i>
								Delete
							</a>
						</td>
					</tr>
					</tbody>
				</table>

				<a href="javascript:void(0)" class="button success" ng-click="environments.manageEnvironments = true">
					<i class="fi-plus"></i> New environment</a>

				<modal show="environments.manageEnvironments" ng-if="true">
					<h3>Add environment</h3>

					<form ng-submit="environments.create()">
						<label class="required">
							Name

							<input type="text" required placeholder="Environment name" ng-model="environments.formData.name" />
						</label>

						<label class="required">
							API endpoint

							<input type="url" required placeholder="https://api.example.com/api/v1"
									 ng-model="environments.formData.apiEndpoint" />
						</label>


						<label>
							Description

						<textarea rows="2" name="description" ng-model="environments.formData.description"
									 placeholder="Some brief description of this API environment"></textarea>
						</label>

						<button type="submit" class="button success float-right">Create new</button>
					</form>
				</modal>
		</div>

		<div class="tabs-panel" id="headers" ng-controller="HeadersController as headers">

			<div class="content-holder">
				<table ng-if="project.detail.id" ng-init="headers.initOverview({projectId: project.detail.id})">
					<tr ng-repeat="header in headers.overview">
						<td>{{header.name}}</td>
						<td>{{header.value}}</td>
						<td class="text-right">
							<a href="javascript:void(0)"
								data-open="edit-header"
								ng-click="headers.manageHeaders = true; headers.formData = header">
								<i class="fi-pencil"></i>
							</a>
							<a href="javascript:void(0)" ng-click="headers.delete(header.id)">
								<i class="fi-x"></i>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="row controls align-right">
				<a href="javascript:void(0)" ng-click="headers.formData = {projectsId: project.detail.id}"
					data-open="new-header" class="success tiny button">
					<i class="fi-plus"></i>
					<span class="show-for-medium"> Add header</span></a>
			</div>

			<modal show="headers.manageHeaders">
				<h3 ng-show="headers.formData.id">Edit header</h3>
				<h3 ng-show="!headers.formData.id">Create new header</h3>

				<form ng-submit="headers.formData.id ? headers.edit() : headers.create()">
					<div class="row">
						<div class="column">
							<label class="required">
								Name
								<input type="text" required ng-model="headers.formData.name">
							</label>
						</div>
						<div class="column">
							<label>
								Value
								<input type="text" ng-model="headers.formData.value">
							</label>
						</div>
					</div>
					<button type="submit" class="button success">Save</button>
				</form>
			</modal>
		</div>
	</div>
</div>
</div>