<!--Controller defined in layout-->

<div ng-show="!projects.overview.length">
	<div class="column callout warning text-center">
		<p>
			{{"Neexistuje žádný projekt, se kterým by bylo možné pracovat." | translate}}
		</p>

		<p>
			<a class="button success" ng-click="projects.newProjectWindow = true">
				<i class="fi-plus"></i>
				{{"Nový projekt" | translate}}
			</a>
		</p>
	</div>
</div>

<div class="project-overview row" data-equalizer>
	<div class="column no-padding" ng-show="projects.overview.length" ng-repeat="project in projects.overview">
		<div class="with-shadow project text-center has-controls">
			<div class="content" data-equalizer-watch>
				<h3><a ui-sref="dashboard({projectId: project.id})">{{project.name}}</a></h3>

				<p class="description">
					{{project.description}}
				</p>

				<p class="column environments">
						<span ng-repeat="environment in project.environments">
							<a class="label curson-pointer"
								ui-sref="tests({environmentId: environment.id})">{{environment.name}}</a>
						</span>
					<span ng-show="!project.environments.length"
							class="label secondary">{{"Žádné prostředí" | translate}}</span>
				</p>
			</div>

			<div class="row align-center controls">
				<a ui-sref="dashboard({projectId: project.id})" class="button small primary">
					<i class="fi-graph-trend"></i>
					{{"Přehled prostředí" | translate}}
				</a>
				&nbsp;

				<a ui-sref="projects_settings({projectId: project.id})" ng-if="identity.id == project.usersId"
					class="button secondary small">
					<i class="fi-wrench"></i>
					{{"Nastavení" | translate}}
				</a>
			</div>
		</div>

		<script ng-if="$index > 0 && $last">
			$ (function () {
				setTimeout (function () {
					Foundation.reInit ('equalizer');
				}, 500);
			});
		</script>
	</div>
</div>

<div class="row">
	<div class="column align-center text-center no-padding" ng-show="projects.overview.length">
		<div class="with-shadow project">
			<div class="content">
				<h4>{{"Nový projekt" | translate}}</h4>

				<a ng-click="projects.newProjectWindow = true;" id='new-project-btn' class="button success">
					{{"Vytvořit nový projekt" | translate}}
				</a>
			</div>
		</div>
	</div>
</div>

<a ng-click="projects.newProjectWindow = true" class="hide-for-large button success material-add-button"><i
		  class="fi-plus"></i></a>

<modal show="projects.newProjectWindow" id="new-project">
	<h3>{{"Nový projekt" | translate}}</h3>

	<form ng-submit="projects.create()">
		<label class="required">
			{{'Jméno' | translate}}

			<input type="text" placeholder="{{'Jméno projektu' | translate}}" required name="name"
					 ng-model="projects.formData.name" />
		</label>

		<label>
			{{'Popis' | translate}}

				<textarea rows="2" name="description" ng-model="projects.formData.description"
							 placeholder="{{'Stručný popis projektu pro lepší orientaci' | translate}}"></textarea>
		</label>

		<button type="submit" id="create-project" class="button success float-right">{{'Vytvořit' | translate}}</button>
	</form>
</modal>