<div class="row">
	<div class="column with-shadow">

		<h2>{{"Registrace" | translate}}</h2>

		<form ng-controller="RegistrationController as registration" ng-submit="registration.localRegistration()">
			<label>
				{{'Jméno' | translate}}

				<input type="text" name="name" ng-model="registration.formData.name" />

			</label>

			<label>
				{{'E-mail' | translate}}
				<input type="email" name="email" ng-model="registration.formData.email" />

				<em>{{"Na tento e-mail bude odesláno heslo" | translate}}</em>
			</label>

			<button type="submit" class="submit button">{{"Vytvořit účet" | translate}}</button>
		</form>
	</div>
</div>