<div ng-controller="RequestsController as request">
	<div class="row content" ng-controller="VersionsController as versions" ng-init="request.initDetailForEdit()">
		<div class="column no-padding" ng-controller="AuthenticationsController as auths">
			<div class="column with-shadow">
				<h4>{{request.formData.name}}
					<small>({{request.formData.httpMethod}} {{request.formData.url}})</small>
				</h4>

				<div ng-show="identity.roles[currentEnvironment.id] == 'host'">
					{{"Jakožto host nemáte přístup do editace požadavků." | translate}}
				</div>

				<div ng-show="identity.roles[currentEnvironment.id] != 'host'">
					<ul class="tabs" data-tabs id="request-editor">
						<li id="basic-info-title" class="tabs-title is-active"><a href="#basic-info" aria-selected="true">
							{{'Základní informace' | translate}}</a>
						</li>
						<li id="request-parameters-title"class="tabs-title" ng-show="request.formData.httpMethod != 'GET'">
							<a href="#request-parameters">{{"HTTP parametry" | translate}}</a>
						</li>
						<li id="headers-title" class="tabs-title"><a href="#headers">{{'HTTP hlavičky' | translate}}</a></li>
						<li id="assertions-title" class="tabs-title">
							<a href="#assertions">
								{{'Validátory' | translate}}
							</a>
						</li>
					</ul>
					<div class="tabs-content" data-tabs-content="request-editor">
						<div class="tabs-panel is-active" id="basic-info">
							<form ng-submit="request.edit()">
								<div class="row">
									<div class="column">
										<label class="required">
											{{'Jméno' | translate}}

											<input type="text" required ng-model="request.formData.name" ng-blur="request.edit()">
										</label>
									</div>
								</div>

								<div class="row">
									<div class="column large-2">
										<label class="required">
											<select required ng-blur="request.edit()" name="input-type"
													  ng-model="request.formData.httpMethod">
												<option>POST</option>
												<option>GET</option>
												<option>PUT</option>
												<option>DELETE</option>
												<option>PATCH</option>
											</select>
										</label>
									</div>

									<div class="column required large-10">
										<input required ng-blur="request.edit()" type="text"
												 ng-model="request.formData.url">
									</div>
								</div>

								<div class="row">
									<div class="column">
										<label>
											{{'Popis' | translate}}
									<textarea rows="3" ng-model="request.formData.description"
												 ng-blur="request.edit()"></textarea>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="column" ng-if="currentProject.usersId == identity.id">
										<label>
											{{'Verze API' | translate}}
											<select ng-show="versions.overview.length > 0"
													  ng-blur="request.edit()"
													  ng-model="request.formData.versionsId"
													  ng-if="request.environment.projectsId"
													  ng-init="versions.init(request.environment.projectsId, request.formData.versionsId)">
												<option ng-repeat="version in versions.overview" value="{{version.id}}">
													{{version.name}}
												</option>
											</select>
										</label>
									</div>

									<div class="column shrink align-bottom" ng-if="currentProject.usersId == identity.id">
										<a href="javascript:void(0)" class="button success"
											ng-click="versions.manageVersion = true; versions.formData.projectsId = request.environment.projectsId">
											<i class="fi-plus"></i>
										</a>
									</div>

									<div class="column">
										<div class="row">
											<div class="column">
												<label>
													{{'Autentifikace' | translate}}
													<select ng-show="auths.overview.length > 0"
															  ng-blur="request.edit()"
															  ng-model="request.formData.authenticationsId"
															  ng-if="request.environment.id"
															  ng-init="auths.init(request.environment.id)">
														<option ng-repeat="auth in auths.overview" value="{{auth.id}}">
															{{auth.name}}
														</option>
													</select>
												</label>
											</div>
											<div class="column shrink align-bottom">
												<a href="javascript:void(0)" class="button success"
													ng-click="auths.manageAuth = true; auths.formData.environmentsId = request.environment.id">
													<i class="fi-plus"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</form>

							<modal ng-if="identity.roles[currentEnvironment.id] != 'host'" show="auths.manageAuth">
								<h3>{{'Vytvořit autentifikaci' | translate}}</h3>

								<form ng-submit="auths.create()">
									<label class="required">
										{{'Jméno' | translate}}
										<input type="text" required ng-model="auths.formData.name">
									</label>

									<label class="required">
										{{'Autentifikace' | translate}} type

										<select required ng-model="auths.formData.type">
											<option value="base">Base Auth</option>
											<option value="bearer">Bearer token</option>
										</select>
									</label>

									<div ng-show="auths.formData.type == 'base'">
										<label>
											{{'Přihlašovací jméno' | translate}}
											<input type="text" ng-model="auths.formData.username">
										</label>

										<label>
											{{'Heslo' | translate}}
											<input type="text" ng-model="auths.formData.password">
										</label>

									</div>

									<div ng-show="auths.formData.type == 'bearer'">
										<label>
											{{'Autentifikační token' | translate}}
											<input type="text" ng-model="auths.formData.token">
											<em>{{"Bude odesílán jako HTTP hlavička Authorization: Bearer *token*" |
												 translate}}</em>
										</label>

										<label>
											{{'Query string parametr' | translate}}
											<input type="text" ng-model="auths.formData.tokenParameter">
											<em>{{"Pokud API očekává token jako parametr v URL, zadejte jeho jméno." |
												 translate}}</em>
										</label>
									</div>

									<button type="submit" class="button success">{{'Uložit' | translate}}</button>
								</form>

							</modal>

						</div>

						<div class="tabs-panel has-controls" id="request-parameters">
							<h5>{{"HTTP parametry" | translate}}</h5>

							<div class="content-holder">
								<form ng-submit="request.edit()" class="row">
									<label class="column shrink">
										{{"Odesílat data v tzv. obálce?" | translate}}

										<input type="checkbox" ng-model="request.formData.sendInEnvelope">
									</label>

									<label class="column" ng-show="request.formData.sendInEnvelope">
										{{"Jméno obálky" | translate}}

										<input type="text" ng-model="request.formData.envelope">
										<em>{{'Obálka je objekt, do kterého se vloží níže definované parametry. ' |
											 translate}} </em>

									</label>

									<div class="column">
										<button class="button success" type="submit">{{"Uložit" | translate}}</button>
									</div>
								</form>

								<div class="callout warning" ng-show="emptyObject(request.formData.httpParameters)">
									{{'Žádný záznam' | translate}}
								</div>

								<table ng-show="!emptyObject(request.formData.httpParameters)">
									<tr ng-repeat="param in request.formData.httpParameters">
										<td>{{param.name}}</td>
										<td>{{param.value}}</td>
										<td class="text-right">
											<a href="javascript:void(0)"
												ng-click="request.manageHttpParameters = true; request.httpParametersData = param">
												<i class="fi-pencil"></i>
											</a>
											<a href="javascript:void(0)" ng-click="request.httpParameters.delete(param.id)">
												<i class="fi-x"></i>
											</a>
										</td>
									</tr>
								</table>
							</div>
							<div class="row controls align-right">
								<a href="javascript:void(0)"
									ng-click="request.manageHttpParameters = true; request.httpParametersData = {}"
									id="new-parameter-btn"
									class="success tiny button"><i class="fi-plus"></i> <span
										  class="show-for-medium"> {{'Nový parametr' | translate}}</span></a>
							</div>

							<modal ng-if="identity.roles[currentEnvironment.id] != 'host' && request.formData.httpMethod"
									 id="http-parameters-modal"
									 show="request.manageHttpParameters">
								<h3 ng-show="request.httpParametersData.id">{{'Upravit HTTP parametr' | translate}}</h3>
								<h3 ng-show="!request.httpParametersData.id">{{'Vytvořit nový HTTP parametr' | translate}}</h3>

								<form ng-submit="request.httpParametersData.id ? request.httpParameters.edit() : request.httpParameters.create()">
									<div class="row">
										<div class="column">
											<label class="required">
												{{'Jméno' | translate}}
												<input type="text" required ng-model="request.httpParametersData.name">
											</label>
										</div>
										<div class="column">
											<label>
												{{'Hodnota' | translate}}
												<input type="text" ng-model="request.httpParametersData.value">
											</label>
										</div>
									</div>
									<button type="submit" id="save-parameter-btn" class="button success">{{'Uložit' | translate}}</button>
								</form>
							</modal>

						</div>

						<div class="tabs-panel has-controls" id="headers" ng-controller="HeadersController as headers">
							<h5>{{'HTTP hlavičky požadavku' | translate}}</h5>

							<div class="content-holder">
								<table ng-if="request.environment.id"
										 ng-init="headers.initOverview({projectId: request.environment.projectsId, environmentId: request.environment.id, requestId: request.formData.id})">
									<tr ng-repeat="header in headers.overview">
										<td>{{header.name}}</td>
										<td>{{header.value}}</td>
										<td class="text-right">
											<span ng-show="header.projectsId != null"><em>{{'Definováno v nastavení projektu' | translate}}</em></span>
											<span ng-show="header.environmentsId != null"><em>{{'Definováno v nastavení prostředí' | translate}}</em></span>

											<span ng-show="header.requestsId == request.formData.id">
												<a href="javascript:void(0)"
													ng-click="headers.manageHeaders = true; headers.formData = header">
													<i class="fi-pencil"></i>
												</a>
												<a href="javascript:void(0)" ng-click="headers.delete(header.id)">
													<i class="fi-x"></i>
												</a>
											</span>
										</td>
									</tr>
								</table>

								<div class="callout warning"
									  ng-show="headers.overview.length == 0">
									{{'Žádný záznam' | translate}}
								</div>

							</div>
							<div class="row controls align-right">
								<a href="javascript:void(0)"
									ng-click="headers.manageHeaders = true; headers.formData= {requestsId: request.formData.id}"
									id="new-header-btn"
									class="success tiny button">
									<i class="fi-plus"></i>
									<span class="show-for-medium"> {{'Přidat' | translate}}</span></a>
							</div>

							<modal show="headers.manageHeaders" id="headers-modal">
								<h3 ng-show="headers.formData.id">{{'Upravit HTTP hlavičku' | translate}}</h3>
								<h3 ng-show="!headers.formData.id">{{'Vytvořit HTTP hlavičku' | translate}}</h3>

								<form ng-submit="headers.formData.id ? headers.edit() : headers.create()">
									<div class="row">
										<div class="column">
											<label class="required">
												{{'Jméno' | translate}}
												<input type="text" required ng-model="headers.formData.name">
											</label>
										</div>
										<div class="column">
											<label>
												{{'Hodnota' | translate}}
												<input type="text" ng-model="headers.formData.value">
											</label>
										</div>
									</div>
									<button type="submit" id="header-btn" class="button success">{{'Uložit' | translate}}</button>
								</form>
							</modal>

						</div>

						<div class="tabs-panel has-controls" id="assertions" ng-controller="AssertionsController as asserts"
							  ng-init="asserts.initRequestAssertions()">
							<div class="content-holder">
								<div class="callout warning"
									  ng-show="asserts.assertions[request.detail.id].length == 0">
									{{'Žádný záznam' | translate}}
								</div>

								<table ng-show="asserts.assertions[request.detail.id].length != 0">
									<thead>
									<tr>
										<th>{{'Jméno validátoru' | translate}}</th>
										<th>{{'Vlastnost objektu' | translate}}</th>
										<th>{{'Porovnání' | translate}}</th>
										<th>{{'Očekávaná hodnota' | translate}}</th>
										<th></th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="assertion in asserts.assertions[request.detail.id]">
										<td>{{assertion.assertion.name}}</td>
										<td>{{assertion.property}}</td>
										<td ng-switch="assertion.comparator">
											<span ng-switch-when="eq">{{'Odpovídá' | translate}}</span>
											<span ng-switch-when="lt">{{'Méně než' | translate}}</span>
											<span ng-switch-when="gt">{{'Více než' | translate}}</span>
											<span ng-switch-when="le">{{'Méně nebo stejně' | translate}}</span>
											<span ng-switch-when="ge">{{'Více nebo stejně' | translate}}</span>
											<span ng-switch-when="ne">{{'Neodpovídá' | translate}}</span>
											<span ng-switch-when="in">{{'Obsahuje' | translate}}</span>
											<span ng-switch-when="not_in">{{'Neobsahuje' | translate}}</span>
										</td>
										<td>{{assertion.expectedValue}}</td>
										<td>
											<a href="javascript:void(0)"
												ng-if="identity.roles[currentEnvironment.id] != 'host'"
												ng-click="asserts.openModal = true; asserts.formData = assertion">
												<i class="fi-pencil" data-open="edit-assertion"></i>
											</a>
											<a href="javascript:void(0)"
												ng-if="identity.roles[currentEnvironment.id] != 'host'"
												ng-click="asserts.delete(assertion.id, request.detail.id)">
												<i class="fi-x"></i>
											</a>
										</td>
									</tr>
									</tbody>
								</table>
							</div>

							<div class="row controls align-right">
								<a ng-click="asserts.openModal = true; asserts.formData = {requestsId: request.detail.id, assertionType: 'status_code', comparator: 'eq'}"
									ng-if="identity.roles[currentEnvironment.id] != 'host'"
									id="new-assertion-btn"
									class="button tiny success float-right">
									<i class="fi-plus"></i>
									<span class="show-for-medium"> {{'Nový validátor' | translate}}</span>
								</a>
							</div>

							<modal show="asserts.openModal" id="new-assertion-modal" ng-if="identity.roles[currentEnvironment.id] != 'host'">
								<h3 ng-show="asserts.formData.id">{{'Upravit validátor' | translate}}</h3>
								<h3 ng-show="!asserts.formData.id">{{'Nový validátor' | translate}}</h3>

								<form ng-submit="asserts.formData.id ? asserts.edit() : asserts.create()">
									<label ng-if="asserts.openModal" ng-init="asserts.initTypes()">
										{{'Typ validátoru' | translate}}

										<select name="input-type" ng-model="asserts.formData.assertionType">
											<option ng-repeat="type in asserts.types" value="{{type.type}}">{{type.name |
																																 translate}}
											</option>
										</select>
									</label>

									<label ng-show="asserts.formData.assertionType != 'status_code' && asserts.formData.assertionType != 'response_time'">
										{{'Vlastnost objektu' | translate}}

										<input type="text" name="property" placeholder="{{'Vlastnost objektu' | translate}}"
												 ng-model="asserts.formData.property" />
									</label>

									<label ng-show="asserts.formData.assertionType != 'property_exists' && asserts.formData.assertionType != 'property_not_exist'">
										{{'Porovnání' | translate}}

										<select required ng-model="asserts.formData.comparator">
											<option value="eq">{{'Odpovídá' | translate}}</option>
											<option value="lt">{{'Méně než' | translate}}</option>
											<option value="gt">{{'Více než' | translate}}</option>
											<option value="le">{{'Méně nebo stejně' | translate}}</option>
											<option value="ge">{{'Více nebo stejně' | translate}}</option>
											<option value="ne">{{'Neodpovídá' | translate}}</option>
											<option value="in">{{'Obsahuje' | translate}}</option>
											<option value="not_in">{{'Neobsahuje' | translate}}</option>
										</select>
									</label>

									<label ng-show="asserts.formData.assertionType != 'property_exists' && asserts.formData.assertionType != 'property_not_exist'">
										{{'Hodnota' | translate}}

										<input type="text" name="value" placeholder="{{'Vlastnost objektu' | translate}} value"
												 ng-model="asserts.formData.expectedValue" />
									</label>

									<button type="submit" id="save-assertion-btn" class="button success">{{'Uložit' | translate}}</button>
								</form>
							</modal>

						</div>
					</div>
				</div>

			</div>

			<!--================================-->
			<!--Modal windows-->

			<modal ng-if="identity.roles[currentEnvironment.id] != 'host'" show="versions.manageVersion">
				<h3>{{'Vytvoření nové verze API' | translate}}</h3>

				<form ng-submit="versions.create()">
					<label class="required">
						{{'Jméno' | translate}}
						<input type="text" required ng-model="versions.formData.name">
					</label>
					<label>
						{{'Popis' | translate}}
						<textarea rows="2" ng-model="versions.formData.description"></textarea>
					</label>
					<label>
						{{'Část URL adresy' | translate}}
						<input type="text" ng-model="versions.formData.urlSegment">
					</label>

					<button type="submit" class="button success">{{'Uložit' | translate}}</button>
				</form>

			</modal>

			<modal ng-if="identity.roles[currentEnvironment.id] == 'host'" show="request.manageHttpParameters">
				<h3 ng-show="request.httpParametersData.id">{{'Upravit HTTP parametr' | translate}}</h3>
				<h3 ng-show="!request.httpParametersData.id">{{'Vytvořit nový HTTP parametr' | translate}}</h3>

				<form ng-submit="request.httpParametersData.id ? request.httpParameters.edit() : request.httpParameters.create()">
					<div class="row">
						<div class="column">
							<label class="required">
								{{'Jméno' | translate}}
								<input type="text" required ng-model="request.httpParametersData.name">
							</label>
						</div>
						<div class="column">
							<label>
								{{'Hodnota' | translate}}
								<input type="text" ng-model="request.httpParametersData.value">
							</label>
						</div>
					</div>
					<button type="submit" class="button success">{{'Uložit' | translate}}</button>
				</form>
			</modal>
		</div>
	</div>
</div>