<div class="column with-shadow has-controls" ng-init="request.initDetail()">
	<div class="content-holder">
		<h4>{{request.current.name}}
			<small>({{request.current.httpMethod}} {{request.current.url}})</small>
		</h4>

		<p>{{request.current.description}}</p>

		<div class="row">
			<div class="column">

				<h5>Basic info</h5>
				<ul>
					<li>
						Authentication:
						<a ng-show="request.current.authentication">{{request.current.authentication.name}}</a>
						<span ng-show="!request.current.authentication">Nic</span>
					</li>
					<li>
						API version:
						<a ng-show="request.current.version">{{request.current.version.name}}</a>
						<span ng-show="!request.current.version">Nic</span>
					</li>
				</ul>
			</div>
			<div class="column">
				<h5>Headers</h5>
				<ul>
					<li ng-repeat="header in request.current.headers">
						<strong>{{header.name}}</strong>: {{header.value}}
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="request.current.queryString.length > 0">
			<h5>Query string parameters</h5>

			<table>
				<thead>
				<tr>
					<th>Parameter name</th>
					<th>Parameter value</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="param in request.current.queryString">
					<td>{{param.name}}</td>
					<td>{{param.value}}</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div ng-show="request.current.queryString.length > 0">
			<h5>{{request.current.httpMethod}} parameters</h5>

			<table>
				<thead>
				<tr>
					<th>Parameter name</th>
					<th>Parameter value</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="param in request.current.httpParameters">
					<td>{{param.name}}</td>
					<td>{{param.value}}</td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div class="row controls align-right">
		<a ui-sref="request_editor({requestId: request.current.id})" class="warning tiny button"><i class="fi-pencil"></i> <span
				  class="show-for-medium">Edit</span></a>

		&nbsp;
		<a href="#" class="has-tip alert tiny button" data-tooltip aria-haspopup="true"
			data-disable-hover="false"
			title="Delete this request"><i class="fi-x"></i> <span
				  class="show-for-medium">Delete</span></a>
	</div>
</div>

<div class="row" ng-controller="AssertionsController as asserts">
	<div class="column with-shadow has-controls" ng-init="asserts.initRequestAssertions()">
		<div class="content-holder">
			<div class="callout warning"
				  ng-show="asserts.assertions[request.current.id].length == 0">
				Prazdne
			</div>

			<table ng-show="asserts.assertions[request.current.id].length > 0">
				<thead>
				<tr>
					<th>Assertion name</th>
					<th>Property name</th>
					<th>Expected value</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="assertion in asserts.assertions[request.current.id]">
					<td>{{assertion.assertion.name}}</td>
					<td>{{assertion.property}}</td>
					<td>{{assertion.expectedValue}}</td>
					<td>
						<a href="javascript:void(0)"
							ng-click="asserts.editAssertionWindow(assertion.id)">
							<i class="fi-pencil" data-open="edit-assertion"></i>
						</a>
						<a href="javascript:void(0)"
							ng-click="asserts.deleteAssertion(assertion.id, request.current.id)">
							<i class="fi-x"></i>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="row controls align-right">
			<a href="javascript:void(0)" ng-click="asserts.newAssertionWindow()"
				class="has-tip success tiny button" data-tooltip aria-haspopup="true"
				data-disable-hover="false"
				title="Add new assertion for this request"><i class="fi-plus"></i> <span class="show-for-medium"> Add assertion</span></a>
		</div>
	</div>

	<div class="reveal" id="edit-assertion" data-reveal>
		<h3>Edit assertion</h3>

		<form ng-submit="asserts.editAssertion()">
			<label>
				Assertion type

				<select name="input-type" ng-model="asserts.formData.assertionType">
					<option ng-repeat="type in asserts.types" value="{{type.type}}">{{type.name}}</option>
				</select>
			</label>

			<label>
				Property

				<input type="text" name="property" placeholder="Property name" ng-model="asserts.formData.property" />
			</label>

			<label>
				Value

				<input type="text" name="value" placeholder="Property value" ng-model="asserts.formData.expectedValue" />
			</label>

			<button type="submit" class="button success">Edit</button>
		</form>

		<!-- Close button -->
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="reveal" id="new-assertion" data-reveal>
		<h3>Add new assertion</h3>

		<form ng-submit="asserts.newAssertion()">
			<label>
				Assertion type

				<select name="input-type" ng-model="asserts.formData.assertionType">
					<option ng-repeat="type in asserts.types" value="{{type.type}}">{{type.name}}</option>
				</select>
			</label>

			<label>
				Property

				<input type="text" name="property" placeholder="Property name" ng-model="asserts.formData.property" />
			</label>

			<label>
				Value

				<input type="text" name="value" placeholder="Property value" ng-model="asserts.formData.expectedValue" />
			</label>

			<button type="submit" class="button success">Create new</button>
		</form>

		<!-- Close button -->
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>


</div>

<div class="row" ng-init="request.initLastResponse()" ng-show="request.lastResponse.id > 0">
	<div class="column with-shadow">
		<h4>Last request call</h4>

		<div class="row">
			<div class="column">
				<h5>Status</h5>
				<ul>
					<li>Status code: {{request.lastResponse.responseCode}}</li>
					<li>Response size: {{request.lastResponse.responseSize / 1024 | number: 1}} kB</li>
					<li>Response time: {{request.lastResponse.responseTime}} ms</li>
				</ul>
			</div>
			<div class="column">
				<h5>Response headers</h5>

				<ul>
					<li ng-repeat="(header, value) in request.lastResponse.responseHeaders">
						<strong>{{header}}</strong>: {{value}}
					</li>
				</ul>
			</div>
		</div>

		<h5>Response body</h5>

		<code class="response">
			{{request.lastResponse.responseBodyRaw}}
		</code>

	</div>
</div>