<div ng-controller="TestsResultsController as testResult">
	<div class="row content" ng-init="testResult.init()">
		<div class="column with-shadow" ng-switch="testResult.test.status">
			<h3><a ui-sref="test_detail({testId: testResult.test.testsId})">{{testResult.test.testName}}</a>
				<small>({{'výsledky z' | translate}} {{testResult.test.createdAt | date : 'medium'}})</small>
			</h3>

			<p>
				{{testResult.test.testDescription}}
			</p>

			<span ng-switch-when="success" class="label success fi-check"> {{'Prochází' | translate}}</span>
			<span ng-switch-when="failed" class="label alert fi-x"> {{'Neprochází' | translate}}</span>
			<span ng-switch-when="waiting_for_response" class="label primary fi-clock"> {{'Čeká na zpracování' | translate}}</span>
			<span ng-switch-when="evaluating" class="label warning fi-eye"> {{'Zpracovává se' | translate}}</span>
		</div>
	</div>

	<div class="row" ng-init="testResult.initStatistics()">
		<div class="column with-shadow">
			<div class="row statistics text-center">
				<div class="column">
					<h4>{{testResult.statistics.health | number : 1}} %</h4>
					<small>{{'Úspěšných požadavků' | translate}}</small>
				</div>
				<div class="column">
					<h4>{{testResult.statistics.avgResponseTime | number : 1}} ms</h4>
					<small>{{'Průměrná doba odezvy' | translate}}</small>
				</div>
				<div class="column">
					<h4>{{testResult.statistics.maxResponseTime}} ms</h4>
					<small>{{'Nejdelší doba odezvy' | translate}}</small>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="column with-shadow">
			<h4>{{'Požadavky' | translate}}</h4>

			<div class="row">
				<div class="column no-padding">
					<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
						<li class="accordion-item" data-accordion-item ng-repeat="response in testResult.test.responses">
							<a href="javascript:void(0)" class="accordion-title">
								<h5 ng-switch="response.status">
									<span ng-switch-when="success" class="label success fi-check"> {{response.requestName}}</span>
									<span ng-switch-when="failed" class="label alert fi-x"> {{response.requestName}}</span>
									<span ng-switch-when="evaluating" class="label warning fi-eye"> {{response.requestName}}</span>
									<span ng-switch-default class="label secondary"> {{response.requestName}}</span>

									<small>({{response.requestMethod}} {{response.requestUrl}})</small>
								</h5>
							</a>
							<div class="accordion-content" data-tab-content ng-attr-id="{{'request-tabs-'+response.id}}">
								<ul class="tabs">
									<li class="tabs-title" ng-attr-id="{{'request-'+response.id+'-title'}}">
										<a href="javascript:void(0)"
											ng-click="openTab('#request-tabs-'+response.id, '#request-'+response.id)">
											{{'Požadavek' | translate}}
										</a>
									</li>
									<li class="tabs-title is-active" ng-attr-id="{{'assertions-'+response.id+'-title'}}">
										<a href="javascript:void(0)" aria-selected="true"
											ng-click="openTab('#request-tabs-'+response.id, '#assertions-'+response.id)">
											{{'Validátory' | translate}}
										</a>
									</li>
									<li class="tabs-title" ng-attr-id="{{'response-'+response.id+'-title'}}">
										<a href="javascript:void(0)"
											ng-click="openTab('#request-tabs-'+response.id, '#response-'+response.id)">
											{{'Odpověď' | translate}}
										</a>
									</li>
								</ul>
								<div class="tabs-content">
									<div class="tabs-panel" ng-attr-id="{{'request-'+response.id}}">
										<h4>
											<a ui-sref="request({requestId: response.requestsId})">{{response.requestName}}</a>
										</h4>

										<a class="button success tiny" ui-sref="request({requestId: response.requestsId})">
											<i class="fi-magnifying-glass"></i>
											{{'Detail' | translate}}
										</a>

										<a class="button primary tiny"
											ui-sref="request_editor({requestId: response.requestsId})"
											ng-if="identity.roles[currentEnvironment.id] != 'host'">
											<i class="fi-pencil"></i>
											{{'Upravit' | translate}}
										</a>

										<div class="row">
											<div class="column">
												<h5>{{'HTTP hlavičky požadavku' | translate}}</h5>

												<div class="warning callout" ng-show="emptyObject(response.requestHeaders)">
													{{'Žádný záznam' | translate}}
												</div>

												<ul ng-show="!emptyObject(response.requestHeaders)">
													<li ng-repeat="(header, value) in response.requestHeaders">
														<strong>{{header}}</strong>: {{value}}
													</li>
												</ul>
											</div>

											<div class="column" ng-show="!emptyObject(response.requestHttpParameters)">
												<h5>{{response.requestMethod}} parameters</h5>

												<ul>
													<li ng-repeat="(parameter, value) in response.requestHttpParameters">
														<strong>{{parameter}}</strong>: {{value}}
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="tabs-panel is-active" ng-attr-id="{{'assertions-'+response.id}}">
										<div class="content-holder">
											<table>
												<thead>
												<tr>
													<th></th>
													<th>{{'Jméno validátoru' | translate}}</th>
													<th>{{'Vlastnost objektu' | translate}}</th>
													<th>{{'Přijatá hodnota' | translate}}</th>
													<th></th>

													<th>{{'Očekávaná hodnota' | translate}}</th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="assert in response.evaluatedAssertions">
													<td><span ng-class="assert.passed ? 'success fi-check' : 'fi-x alert'"
																 class="badge"></span></td>
													<td>{{assert.assertionName | translate}}</td>
													<td>{{assert.assertionProperty}}</td>
													<td>
														{{assert.recievedValue | limitTo:70}}{{assert.recievedValue.length > 70 ?
														'...' :
														''}}
													</td>

													<td ng-switch="assert.assertionComparator">
														<span ng-switch-when="eq">{{'Odpovídá' | translate}}</span>
														<span ng-switch-when="lt">{{'Méně než' | translate}}</span>
														<span ng-switch-when="gt">{{'Více než' | translate}}</span>
														<span ng-switch-when="le">{{'Méně nebo stejně' | translate}}</span>
														<span ng-switch-when="ge">{{'Více nebo stejně' | translate}}</span>
														<span ng-switch-when="ne">{{'Neodpovídá' | translate}}</span>
														<span ng-switch-when="in">{{'Obsahuje' | translate}}</span>
														<span ng-switch-when="not_in">{{'Neobsahuje' | translate}}</span>
													</td>
													<td>{{assert.assertionExpectedValue}}</td>
												</tr>
												</tbody>
											</table>

										</div>
										<div class="text-right">
											<a class="button primary tiny"
												ui-sref="request_editor({requestId: response.requestsId})"
												ng-if="identity.roles[currentEnvironment.id] != 'host'">
												<i class="fi-pencil"></i>
												{{'Upravit validátory v editoru requestu' | translate}}
											</a>
										</div>

										<div class="clearfix"></div>
									</div>
									<div class="tabs-panel" ng-attr-id="{{'response-'+response.id}}">

										<div class="row">
											<div class="column">
												<h5>{{'Status' | translate}}</h5>
												<ul>
													<li>{{'Status' | translate}} code: {{response.responseCode}}</li>
													<li>{{'Velikost odpovědi' | translate}}: {{response.responseSize / 1024 |
														 number:
														 1}} kB
													</li>
													<li>{{'Čas odpovědi' | translate}}: {{response.responseTime}} ms</li>
												</ul>
											</div>
											<div class="column" ng-show="response.responseHeaders.length > 0">
												<h5>{{'HTTP hlavičky odpovědi' | translate}}</h5>

												<ul>
													<li ng-repeat="(header, value) in response.responseHeaders">
														<strong>{{header}}</strong>: {{value}}
													</li>

												</ul>
											</div>
										</div>

										<div class="row">
											<div class="column">
												<h5>{{'Tělo odpovědi' | translate}}</h5>

												<code class="response">
													{{response.responseBodyRaw}}
												</code>
											</div>
										</div>
									</div>
								</div>
							</div>

							<script ng-if="$last">
								$ (function () {
									setTimeout (function () {
										Foundation.reInit ('accordion');
									}, 500);
								});
							</script>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>