<div ng-controller="TestsController as tests">
	<div class="row content" ng-init="tests.initDetail()">
		<div class="column with-shadow has-controls">
			<div class="row">
				<div class="column no-padding">
					<h3>{{tests.detail.name}}</h3>

					{{tests.detail.description}}
				</div>
				<div class="column shrink" ng-switch="tests.detail.lastRunStatus">
					<p>
					<!--<span ng-show="tests.detail.lastRunStatus == 'success' || tests.detail.lastRunStatus == 'failed' || tests.detail.lastRunStatus == null ">-->
						<a href="javascript:void(0)" ng-click="tests.run(tests.detail.id)"
							class="button success small fi-play"> Run now</a>
						<a href="javascript:void(0)" ng-click="tests.manageTest = true; tests.formData = tests.detail"
							class="button primary small fi-pencil"> Edit</a>
					<!--</span>-->

					<span ng-show="tests.detail.lastRunStatus == 'waiting_for_response' || tests.detail.lastRunStatus == 'evaluating'">
						<button class="button small warning disabled"><i class="fi-play-circle"></i> Running</button>
					</span>
					</p>

					<p>
						<span ng-switch-when="success" class="label success fi-check"> Passing</span>
						<span ng-switch-when="failed" class="label alert fi-x"> Not passing</span>
						<span ng-switch-when="waiting_for_response"
								class="label primary fi-clock"> Waiting for response</span>
						<span ng-switch-when="evaluating" class="label warning fi-eye"> Evaluating</span>
					</p>

					<span ng-show="tests.detail.nextRun" class="label secondary fi-calendar"> Next run: {{tests.detail.nextRunRaw | date : 'short' }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-init="tests.initStatistics(tests.statisticsButton)" ng-show="tests.statistics">
		<div class="column with-shadow has-controls">
			<div class="row text-center">
				<div class="column">
					<h4>{{tests.statistics.health | number : 1 || '--'}} %</h4>
					<small>Health</small>
				</div>
				<div class="column">
					<h4>{{tests.statistics.avgResponseTime | number : 1 || '--'}} ms</h4>
					<small>Average response time</small>
				</div>
				<div class="column">
					<h4>{{tests.statistics.maxResponseTime || '--'}} ms</h4>
					<small>Longest response time</small>
				</div>
				<div class="column">
					<h4>{{tests.statistics.testedRequests || '--'}}</h4>
					tested requests
				</div>

			</div>

			<div class="row controls align-right">
				<a href="javascript:void(0)"
					ng-click="tests.initStatistics(30)"
					ng-class="(tests.statisticsButton == 30) ? 'primary' : 'secondary'" class="button tiny">
					30 days
				</a>
				&nbsp;
				<a href="javascript:void(0)"
					ng-click="tests.initStatistics(7)"
					ng-class="(tests.statisticsButton == 7) ? 'primary' : 'secondary'"
					class="button tiny">7 days</a>
				&nbsp;
				<a href="javascript:void(0)"
					ng-click="tests.initStatistics(1)"
					ng-class="(tests.statisticsButton == 1) ? 'primary' : 'secondary'" class="button tiny">
					last 24 hours</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column has-controls with-shadow">
			<h4>Requests</h4>

			<div ng-show="tests.detail.requests.length == 0" class="callout warning">Zadny request</div>

			<div class="row content-holder" ng-show="tests.detail.requests.length"
				  ng-controller="RequestsController as reqController">
				<div class="column no-padding" ng-controller="AssertionsController as asserts">
					<ul class="accordion" id="requests-list" data-accordion data-multi-expand="true"
						 data-allow-all-closed="true">
						<li class="accordion-item" ng-repeat="request in tests.detail.requests" data-accordion-item>
							<a href="javascript:void(0)" class="accordion-title"
								ng-click="reqController.initDetail(request.id, tests.detail.id, false)">
								<h5 ng-switch="request.lastRunStatus">

									<span ng-switch-when="success" class="label success fi-check"> {{request.name}}</span>
									<span ng-switch-when="failed" class="label alert fi-x"> {{request.name}}</span>
									<span ng-switch-when="waiting_for_response"
											class="label primary fi-clock"> {{request.name}}</span>
									<span ng-switch-when="evaluating" class="label warning fi-eye"> {{request.name}}</span>
									<span ng-switch-default class="label secondary"> {{request.name}}</span>

									<small>({{request.httpMethod | uppercase}} {{request.url}})</small>
								</h5>
								<small>{{request.description}}</small>
							</a>
							<div class="accordion-content" ng-attr-id="{{ 'request-tabs-'+request.id}}" data-tab-content>
								<ul class="tabs">
									<li ng-attr-id="{{ 'request-'+request.id+'-title'}}" class="tabs-title is-active">
										<a href="javascript:void(0)"
											ng-click="openTab('#request-tabs-'+request.id, '#request-'+request.id)"
											aria-selected="true">
											Request</a>
									</li>
									<li ng-attr-id="{{ 'assertions-'+request.id+'-title'}}" class="tabs-title">
										<a href="javascript:void(0)"
											ng-click="openTab('#request-tabs-'+request.id, '#assertions-'+request.id); asserts.initRequestAssertions(request.id)">
											Assertions
										</a>
									</li>
								</ul>
								<div class="tabs-content">
									<div class="tabs-panel is-active" ng-attr-id="{{ 'request-'+request.id}}">
										<h4>
											<a ui-sref="request({requestId: request.id})">
												{{request.name}}
												<small ng-show="request.authenticationsId > 0">
													({{reqController.detail[request.id].authentication.name}})
												</small>
											</a>
										</h4>

										<p>{{request.description}}</p>

										<div class="headers" ng-show="reqController.detail[request.id].headers.length > 0">
											<h5>Headers</h5>
											<ul>
												<li ng-repeat="header in reqController.detail[request.id].headers">
													<strong>{{header.name}}</strong>: {{header.value}}
												</li>
											</ul>
										</div>

										<a class="button success tiny" ui-sref="request({requestId: request.id})">
											<i class="fi-magnifying-glass"></i>
											Detail
										</a>

										<a class="button primary tiny" ui-sref="request_editor({requestId: request.id})">
											<i class="fi-pencil"></i>
											Edit
										</a>

										<a class="button alert tiny" ng-click="tests.removeRequest(request.id)">
											<i class="fi-x"></i>
											Delete from test
										</a>

									</div>
									<div class="tabs-panel" ng-attr-id="{{ 'assertions-'+request.id }}">

										<div class="callout warning"
											  ng-show="emptyObject(asserts.assertions[request.id])">
											Prazdne
										</div>

										<table ng-show="!emptyObject(asserts.assertions[request.id])">
											<thead>
											<tr>
												<th>Assertion name</th>
												<th>Property name</th>
												<th></th>
												<th>Expected value</th>
												<th></th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="assertion in asserts.assertions[request.id]">
												<td>{{assertion.assertion.name}}</td>
												<td>{{assertion.property}}</td>
												<td ng-switch="assertion.comparator">
													<span ng-switch-when="eq">Equal to</span>
													<span ng-switch-when="lt">Less then</span>
													<span ng-switch-when="gt">Greater then</span>
													<span ng-switch-when="le">Less or equal then</span>
													<span ng-switch-when="ge">Greater or equal then</span>
													<span ng-switch-when="ne">Not equal to</span>
													<span ng-switch-when="in">Contains</span>
													<span ng-switch-when="not_in">Not contains</span>
												</td>
												<td>{{assertion.expectedValue}}</td>
												<td>
													<a href="javascript:void(0)"
														ng-click="asserts.openModal = true; asserts.formData = assertion">
														<i class="fi-pencil" data-open="edit-assertion"></i>
													</a>
													<a href="javascript:void(0)"
														ng-click="asserts.delete(assertion.id, request.id)">
														<i class="fi-x"></i>
													</a>
												</td>
											</tr>
											</tbody>
										</table>
										<button ng-click="asserts.openModal = true; asserts.formData = {requestsId: request.id}"
												  class="button success float-right">
											<i class="fi-plus"></i> Add assertion
										</button>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>

							<script ng-if="$last">
								$ (function () {
									setTimeout (function () {
										Foundation.reInit ('accordion');
									}, 500);
								});
							</script>
						</li>
					</ul>

					<modal show="asserts.openModal">
						<h3 ng-show="asserts.formData.id">Edit assertion</h3>
						<h3 ng-show="!asserts.formData.id">Add new assertion</h3>

						<form ng-submit="asserts.formData.id ? asserts.edit() : asserts.create()">
							<label class="required" ng-if="asserts.openModal" ng-init="asserts.initTypes()">
								Assertion type

								<select required name="input-type" ng-model="asserts.formData.assertionType">
									<option ng-repeat="type in asserts.types" value="{{type.type}}">{{type.name}}</option>
								</select>
							</label>

							<label ng-show="asserts.formData.assertionType != 'status_code' && asserts.formData.assertionType != 'response_time'">
								Property

								<input type="text" name="property" placeholder="Property name"
										 ng-model="asserts.formData.property" />
							</label>

							<label ng-show="asserts.formData.assertionType != 'property_exists' && asserts.formData.assertionType != 'property_not_exist'">
								Compare

								<select required ng-model="asserts.formData.comparator">
									<option value="eq">Equal to</option>
									<option value="lt">Less then</option>
									<option value="gt">Greater then</option>
									<option value="le">Less or equal then</option>
									<option value="ge">Greater or equal then</option>
									<option value="ne">Not equal to</option>
									<option value="in">Contains</option>
									<option value="not_in">Not contains</option>
								</select>
							</label>

							<label ng-show="asserts.formData.assertionType != 'property_exists' && asserts.formData.assertionType != 'property_not_exist'">
								Value

								<input type="text" name="value" placeholder="Property value"
										 ng-model="asserts.formData.expectedValue" />
							</label>

							<button type="submit" class="button success">Save</button>
						</form>
					</modal>
				</div>
			</div>

			<div class="row controls align-right">
				<a href="javascript:void(0)" ng-click="tests.addRequestModal=true" class="success tiny button">
					<i class="fi-plus"></i>
					<span class="show-for-medium"> Add request</span>
				</a>
			</div>
		</div>
	</div>

	<div class="column with-shadow has-controls">
		<div class="row">
			<div class="column no-padding">

				<h4>Headers</h4>

				<div class="callout warning" ng-show="emptyObject(tests.detail.headers)">
					Prazdne
				</div>

				<table ng-show="!emptyObject(tests.detail.headers)">
					<tr ng-repeat="header in tests.detail.headers">
						<td>{{header.name}}</td>
						<td>{{header.value}}</td>
						<td class="text-right">
							<a href="javascript:void(0)"
								ng-click="tests.manageHeaders = true; tests.formData.headers = header">
								<i class="fi-pencil"></i>
							</a>
							<a href="javascript:void(0)" ng-click="tests.headers.delete(header.id)">
								<i class="fi-x"></i>
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row controls align-right">
			<button class="button success tiny" ng-click="tests.manageHeaders=true; tests.formData.headers = {}">
				<i class="fi-check"></i> Add header
			</button>
		</div>
	</div>

	<div class="row" ng-show="tests.detail.runnedTests.length">
		<div class="column with-shadow">
			<h4>Results</h4>

			<div class="row" ng-show="!emptyObject(tests.detail.runnedTests)">
				<div class="column no-padding">
					<a ng-repeat="result in tests.detail.runnedTests" ui-sref="test_result({testResultId: result.id})"
						ng-class="result.status == 'success' ? 'fi-check success' : 'fi-x alert'"
						class="button tiny"> {{result.createdAt | date : 'shortDate' }}</a>
				</div>
			</div>
		</div>
	</div>

	<modal show="tests.manageHeaders">
		<h3 ng-show="tests.formData.headers.id">Edit header</h3>
		<h3 ng-show="!tests.formData.headers.id">Create new header</h3>

		<form ng-submit="tests.formData.headers.id ? tests.headers.edit() : tests.headers.create(tests.detail.id)">
			<div class="row">
				<div class="column">
					<label class="required">
						Name
						<input type="text" required ng-model="tests.formData.headers.name">
					</label>
				</div>
				<div class="column">
					<label>
						Value
						<input type="text" ng-model="tests.formData.headers.value">
					</label>
				</div>
			</div>
			<button type="submit" class="button success">Save</button>
		</form>
	</modal>

	<modal class="large" show="tests.addRequestModal">
		<div id="new-request-window" ng-controller="RequestsController as request">
			<h3>Add request</h3>

			<ul class="tabs">
				<li id="new-request-title" class="tabs-title is-active">
					<a ng-click="openTab('#new-request-window', '#new-request')" aria-selected="true">New request</a>
				</li>
				<li id="existing-request-title" class="tabs-title">
					<a ng-click="openTab('#new-request-window', '#existing-request'); request.initEnvironmentOverview(tests.detail.environmentsId, {ignoreTest: tests.detail.id})">
						Existing requests
					</a>
				</li>
			</ul>

			<div class="tabs-content">
				<div class="tabs-panel is-active" id="new-request">
					<form ng-submit="request.create()">
						<div class="row">
							<div class="column">
								<label class="required">
									Request name

									<input type="text" required name="name" ng-model="request.formData.name" />

								</label>
							</div>
						</div>

						<div class="row">
							<div class="column large-3">
								<label class="required">
									Method

									<select name="httpMethod" required ng-model="request.formData.httpMethod">
										<option value="GET">GET</option>
										<option value="POST">POST</option>
										<option value="PUT">PUT</option>
										<option value="DELETE">DELETE</option>
										<option value="OPTION">OPTION</option>
										<option value="PATCH">PATCH</option>
									</select>
								</label>
							</div>

							<div class="column large-9">
								<label class="required">
									URL

									<input type="url" required name="url" ng-model="request.formData.url"
											 placeholder="https://api.example.com/method?param=value&amp;foo=bar" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<button type="submit" class="button success float-right">Add</button>
							</div>
						</div>
					</form>
				</div>

				<div class="tabs-panel" id="existing-request">
					<button class="button"
							  ng-repeat="availableRequest in request.environmentRequests"
							  ng-class="tests.assignedRequestIds.hasOwnProperty(availableRequest.id) ? 'warning disabled' : 'success'"
							  ng-click="tests.assignRequest(availableRequest.id)">
						{{availableRequest.name}}
						<small>({{availableRequest.httpMethod | uppercase}} {{availableRequest.url}})</small>
					</button>

					<div class="callout warning" ng-show="request.environmentRequests.length == 0">
						Prazdne
					</div>

				</div>
			</div>

		</div>
	</modal>

	<modal class="large" show="tests.manageTest">
		<h3>Edit test</h3>

		<form ng-submit="tests.edit()">

			<div class="row">
				<label class="column required">
					Test name

					<input type="text" required ng-model="tests.formData.name" />
				</label>
			</div>
			<div class="row">

				<label class="column">
					Description

					<textarea rows="2" ng-model="tests.formData.description"></textarea>
				</label>
			</div>
			<div class="row">
				<div class="column shrink">
					<label>
						Run...

						<select ng-model="tests.formData.run">
							<option value="periodicaly">Periodicaly</option>
							<option value="once">Only once</option>
						</select>
					</label>

				</div>
				<div class="column" ng-show="tests.formData.run == 'periodicaly'">
					<label>
						every
						<select ng-model='tests.formData.runInterval'>
							<option value="30">30 minutes</option>
							<option value="60">hour</option>
							<option value="360">6 hours</option>
							<option value="8640">day</option>
						</select>
					</label>
				</div>
				<div class="column large-6">
					<label>
						Next run at
						<input type="datetime" ng-model="tests.formData.nextRun" name="run-at" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<button type="submit" class="button success float-right">Save</button>
				</div>
			</div>
		</form>
	</modal>
</div>