<div class="row content" ng-init="controller.initStatistics(7)">
	<div class="column with-shadow has-controls" ng-show="controller.statistics">
		<div class="row text-center">
			<div class="column">
				<h4>{{controller.statistics.health}} %</h4>
				<small>Health</small>
			</div>
			<div class="column">
				<h4>{{controller.statistics.avgResponseTime}} ms</h4>
				<small>Average response time</small>
			</div>
			<div class="column">
				<h4>{{controller.statistics.maxResponseTime}} ms</h4>
				<small>Longest response time</small>
			</div>
			<div class="column">
				<h4>{{controller.statistics.testsCount}}</h4>
				tests
			</div>
		</div>

		<div class="row controls align-right">
			<a href="javascript:void(0)" ng-click="controller.initStatistics(30)" class="button secondary tiny">30 days</a>
			&nbsp;
			<a href="javascript:void(0)" ng-click="controller.initStatistics(7)" class="button primary tiny">7 days</a>
			&nbsp;
			<a href="javascript:void(0)" ng-click="controller.initStatistics(1)" class="button secondary tiny">last 24 hours</a>
			&nbsp;
			<a href="javascript:void(0)" class="button success tiny"><i class="fi-play"> Run all tests</i></a>
		</div>
	</div>
</div>

<div class="row" data-equalizer ng-init="controller.initTestOverview()">
	<div class="column no-padding large-4 test" ng-repeat="test in controller.tests">
		<div class="with-shadow has-controls">

			<div class="content-holder" data-equalizer-watch>
				<h5 class="text-center">{{test.name}}</h5>

				<p class="clearfix"></p>

				<div class="health-meter" ng-show="test.health">
					<div class="row result success progress">
						<div class="progress-meter" style="width: 85%">
							<p class="progress-meter-text">Health: 85 %</p>
						</div>
					</div>

					<div class="row align-right">
						<p>
							Show health for <a href="#">30d</a>, <a href="#"><strong>7d</strong></a>, <a href="#">today</a>
						</p>
					</div>
				</div>

				<div class="row align-right" ng-switch="test.lastRunStatus">
					<span ng-switch-when="success" class="label success fi-check"> Passing</span>
					<span ng-switch-when="failed" class="label alert fi-check"> Not passing!</span>
					<span ng-switch-when="waiting_for_response" class="label primary fi-check"> Waiting for response</span>
					<span ng-switch-when="evaluating" class="label warning fi-check"> Running</span>
				</div>

				<!--<div class="row align-right">-->
				<!--<small><em>30 requests, 105 assertions</em></small>-->
				<!--</div>-->

			</div>
			<div class="row controls align-right">
				<a ui-sref="test_detail({testId: test.id})" class="has-tip primary tiny button" data-tooltip
					aria-haspopup="true"
					data-disable-hover="false"
					title="Test detail"><i class="fi-magnifying-glass"></i> <span class="show-for-medium">Detail</span></a>
				&nbsp;

				<a href="#" class="has-tip success tiny button" data-tooltip aria-haspopup="true"
					data-disable-hover="false"
					title="Run now"><i class="fi-play"></i> <span class="show-for-medium">Run now</span></a>
				&nbsp;
				<a href="#" class="has-tip button tiny warning" data-open="schedule-test" data-tooltip
					aria-haspopup="true"
					data-disable-hover="false"
					title="Schedule run"><i class="fi-calendar"></i> <span
						  class="show-for-medium">Schedule</span></a>
			</div>
		</div>
	</div>
</div>
<div class="reveal" id="schedule-test" data-reveal>

	<form>
		<div class="row">
			<div class="column shrink">
				Run...

			</div>
			<div class="column">
				<label>
					each 30 minutes
					<input type="radio" name="schedule" />
				</label>

				<label>
					each hour
					<input type="radio" name="schedule" />
				</label>

				<label>
					each 6 hours
					<input type="radio" name="schedule" />
				</label>

				<label>
					each day
					<input type="radio" name="schedule" />
				</label>
				<label>
					at
					<input type="datetime" name="run-at" />

				</label>
			</div>
		</div>

		<button class="button success float-right" type="submit">Save</button>
	</form>


	<!-- Close button -->
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<!--Button for creating new resource-->
<a data-open="new-test" id="add-test" class="button success material-add-button"><i
		  class="fi-plus"></i></a>

<div class="reveal large" id="new-test" data-reveal="">
	<h3>New test</h3>

	<form ng-submit="controller.newTest()">

		<label>
			Test name

			<input type="text" ng-model="controller.formData.name" name="name" />
		</label>

		<label>
			Description

			<textarea rows="2" ng-model="controller.formData.description" name="description"></textarea>
		</label>

		<div class="row">
			<div class="column">
				<button type="submit" class="button success float-right">Create</button>
			</div>
		</div>
	</form>

</div>